<%- model_class = Solicitacao -%>

<% resource ||= resource %>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
        
          <dt><strong><%= model_class.human_attribute_name(:secretaria) %> :</strong></dt>
          <dd><%= resource.try(:secretaria).try(:nome) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:curso) %> :</strong></dt>
          <dd><%= resource.try(:curso).try(:nome) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:perfil) %> :</strong></dt>
          <dd><%= resource.try(:perfil) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:quantidade) %> :</strong></dt>
          <dd><%= resource.try(:quantidade) %></dd>
        
              
          <dt><strong><%= model_class.human_attribute_name(:situacao) %> :</strong></dt>
          <dd><%= resource.try(:situacao) %></dd>
        
              
      
    </dl>
  </div>
  <div class="col-md-12">
    <%= render partial: "admin/indicacoes/table", locals: {solicitacao_id: resource.id, remote: true, show_collapse: 'show'} %>
  </div>
  <div class="col-md-12">
    <%= render partial: "admin/audits/table", locals: {audits: resource.try(:own_and_associated_audits), show_collapse: 'show'} %>
  </div>
</div>